# Ignore all files in these directories
data/raw/*
data/processed/*
src/neural_network/__pycache__/
src/.ipynb_checkpoints
src/neural_network/.ipynb_checkpoints

# Except for the .gitkeep file
!data/raw/.gitkeep
!data/processed/.gitkeep

